@model IEnumerable<OrderDetailsModel>
@{
	ViewData["Title"] = "Order Details";
}

<h1>Order Management</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Order Code</th>
			<th scope="col">User Name</th>
			<th scope="col">Order Date</th>
			<th scope="col">Order Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<th scope="row">@item.OrderCode</th>
				@* <td>@item.UserName</td>
				<td>@item.CreatedDate</td>

				<td>
					@if (@item.OrderStatus == 1)
					{
						<span class="badge bg-success">New Order</span>
					}
					else
					{
						<span class="badge bg-secondary">Success</span>
					}
				</td> *@
			</tr>
		}
	</tbody>
	<td>
		<a class="btn btn-secondary btn-sm" asp-controller="Order" asp-action="Index">Back</a>
	</td>
</table>