@using NexusCart.Models.ViewModels
@model CartItemViewModel
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					
					@if (Model.cartItemModels.Count > 0)
					{
						@foreach (var item in Model.cartItemModels)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~images/@item.ImageUrl" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
									<p>Web ID: @item.ProductId</p>
								</td>
								<td class="cart_price">
									<p>$@item.Price</p>
								</td>
								<td class="cart_quantity">

									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
									<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a>

								</td>
								<td class="cart_total">
									<p class="cart_total_price">$@Model.cartItemModels.Where(c => c.ProductId == item.ProductId).Sum(c => c.Price * c.Quantity).ToString()</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
						<tr>
							<td colspan="6">Grand Total: <p class="cart_total_price"> $@Model.GrandTotal.ToString()</p></td>
						</tr>
					}
					else
					{
						<tr>
							<td colspan="6" class="text-center">Your cart is empty.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->