@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Product Management";
}

<h1>Product Management</h1>
<a asp-action="Create" asp-controller="Product" class="btn btn-primary mb-3">Add Product</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                
                <td style="max-width: 300px;">
                    <div style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">
                        @Html.Raw(product.Description)
                    </div>
                </td>
                
                <td>@product.Price</td>
                
                <td>
                    <img src="/media/products/@product.ImageUrl" alt="@product.Name" width="100" style="object-fit: cover; border-radius: 5px;" />
                </td>
                
                <td>@product.Slug</td>
                <td>@product.CategoryId</td>
                <td>@product.BrandId</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>